require "spec_helper"

describe <%= name.split('_').map(&:capitalize).join %> do
  it "cannot login with invalid credentials" do
    invalid_data = <%= name.split('_').map(&:capitalize).join %>::Data::InvalidUser.new
    login_page = <%= name.split('_').map(&:capitalize).join %>::Login.visit

    login_page.login_as(invalid_data)

    expect(<%= name.split('_').map(&:capitalize).join %>::Session.new.invalid_message.present?.to eq true
  end
end
