require "spec_helper"

describe <%= name.split('_').map(&:capitalize).join %> do
  it "submits a search" do
    search_data = <%= name.split('_').map(&:capitalize).join %>::Data::Search.new
    search_page = <%= name.split('_').map(&:capitalize).join %>::Home.visit

    search_page.search(search_data)

    expect(<%= name.split('_').map(&:capitalize).join %>::Results.new.title?(search_data.wikipedia_result)).to eq true
  end
end
