module <%= name.split('_').map(&:capitalize).join %>
  module Site
    class <%= name.split('_').map(&:capitalize).join %>

      class << self
        attr_accessor :base_url, :browser
      end

      def base_url
        self.class.base_url
      end

      def browser
        self.class.browser
      end

    end
  end
end
