require 'spec_helper'

module <%= name.split('_').map(&:capitalize).join %>
  describe <%= name.split('_').map(&:capitalize).join %> do
    let(:<%= klass.downcase %>) { Data::<%= klass %>.new }

    it 'creates' do

    end

    it 'shows' do

    end

    it 'lists' do

    end

    it 'edits' do

    end

    it 'deletes' do

    end

  end
end