require 'spec_helper'

module <%= name.split('_').map(&:capitalize).join %>
  describe Data::<%= klass %> do

    let(:<%= klass.downcase %>) { Data::<%= klass %>.new }

<% if specs.empty? -%>
    # Add RSpec `it` statements
<% else -%>
<% specs.each do |spec| %>
    it '<%= spec -%>' do

    end
<% end -%>
<% end -%>

  end
end
