require 'spec_helper'

module <%= name.split('_').map(&:capitalize).join %>
  RSpec.describe "<%= klass.capitalize %>" do

    let(:<%= klass.downcase %>) { Model::<%= klass.capitalize %>.new }
    let(:<%= name.underscore %>) { Site::<%= name.split('_').map(&:capitalize).join %>.new }

<% if specs.empty? -%>
    # Add RSpec `it` statements
<% else -%>
<% specs.each do |spec| %>
    it '<%= spec -%>' do

    end
<% end -%>
<% end -%>

  end
end
