<% if test_runner == 'cucumber' -%>
require 'cucumber'
require 'cucumber/rake/task'

Cucumber::Rake::Task.new(:features) do |t|
  t.cucumber_opts = "features --format pretty"
end

task :default => :features
<% else -%>
require "rspec/core/rake_task"

RSpec::Core::RakeTask.new(:spec)

task :default => :spec
<% end -%>
