$LOAD_PATH.unshift File.expand_path("../../lib", __FILE__)
require "<%= name.downcase %>"
require "watir_session"

WatirSession.start

include <%= name.split('_').map(&:capitalize).join %>

RSpec.configure do |config|
  config.before(:each) do
    WatirSession.before_each
    WatirDrops::PageObject.browser = WatirSession.browser
  end

  config.after(:each) do
    WatirSession.after_each
  end
end
