# Ideally ignore this file and set Credentials in ENV variables:
#   ENV['SAUCE_USERNAME'] & ENV['SAUCE_USER_KEY']
#
# If you store credentials here, add this file to .gitignore so changes will not get pushed remotely
# These values can then be accessed with:
# `Model::SauceCredentials.local` or setting `ENV['SAUCE_CREDENTIALS] = 'local'
#

local:
  sauce_username:
  sauce_access_key: foo
