$LOAD_PATH.unshift File.expand_path("../../lib", __FILE__)
require "<%= name.downcase %>"

include <%= name.split('_').map(&:capitalize).join %>

RSpec.configure do |config|
  config.before(:each) do
    @browser = Watir::Browser.new
    WatirDrops::PageObject.browser = @browser
  end

  config.after(:each) do
    @browser.quit
  end
end
