module <%= name.split('_').map(&:capitalize).join %>
  module Model
    class <%= klass.capitalize %> < Base

<% keys.each do |key| -%>
      key(:<%= key[/^[^:]*/] %>) {  }
<% end -%>

    end
  end
end
